\vspace{0.5cm}
\begin{minipage}{0.3\textwidth}
\hspace{1cm}
\end{minipage}
\begin{minipage}{0.65\textwidth}
\begin{itemize}
{% for item in items %}    \item { {{- item -}} }
{% endfor %}\end{itemize}
\end{minipage}
