\CVExperienceField[
    dates={ {{- dates -}} },
    title={ {{- title -}} },
    uppercasetitle=no,
    subtitle={ {{- subtitle -}} },
    location={ {{- location -}} },
    titlecomment={ {{- titlecomment -}} },
]
