\vspace{0.5cm}
\begin{minipage}{0.2\textwidth}
\hspace{1cm}
\end{minipage}
\begin{minipage}{0.75\textwidth}
{{ first_author_label }}
{{ first_author_body }}
{{ coauthor_label }}
{{ coauthor_body }}
\end{minipage}
